In [1]:
import pandas as pd
import numpy as np
import os

In [51]:
file_names = os.listdir('data_news/')

In [52]:
file_names

['fake copy.csv',
 'FakeNewsNet.csv',
 'fake_or_real_news.csv',
 'fake.csv',
 'fake_or_real_news 2.csv',
 'real.csv',
 'news_articles.csv',
 'true.csv',
 'WELFake_Dataset.csv']

In [53]:
df = pd.DataFrame(columns=['text', 'label'])
df

Empty DataFrame
Columns: [text, label]
Index: []

In [54]:
data = pd.read_csv(f"./data_news/{file_names[0]}")
data

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [55]:
df = pd.concat([df, pd.DataFrame(data={'text': data['text'], 'label': ['fake'] * (len(data))})], ignore_index=True)
df['label'].value_counts()

label
fake    23481
Name: count, dtype: int64

In [56]:
data = pd.read_csv(f"./data_news/{file_names[1]}")
data

,title,news_url,source_domain,tweet_num,real
0,Kandi Burruss Explodes Over Rape Accusation on...,http://toofab.com/2017/05/08/real-housewives-a...,toofab.com,42,1
1,People's Choice Awards 2018: The best red carp...,https://www.today.com/style/see-people-s-choic...,www.today.com,0,1
2,Sophia Bush Sends Sweet Birthday Message to 'O...,https://www.etonline.com/news/220806_sophia_bu...,www.etonline.com,63,1
3,Colombian singer Maluma sparks rumours of inap...,https://www.dailymail.co.uk/news/article-33655...,www.dailymail.co.uk,20,1
4,Gossip Girl 10 Years Later: How Upper East Sid...,https://www.zerchoo.com/entertainment/gossip-g...,www.zerchoo.com,38,1
...,...,...,...,...,...
23191,Pippa Middleton wedding: In case you missed it...,https://www.express.co.uk/news/royal/807049/pi...,www.express.co.uk,52,1
23192,Zayn Malik & Gigi Hadid’s Shocking Split: Why ...,hollywoodlife.com/2018/03/13/zayn-malik-gigi-h...,hollywoodlife.com,7,0
23193,Jessica Chastain Recalls the Moment Her Mother...,http://www.justjared.com/2018/01/17/jessica-ch...,www.justjared.com,26,1
23194,"Tristan Thompson Feels ""Dumped"" After Khloé Ka...",www.intouchweekly.com/posts/tristan-thompson-f...,www.intouchweekly.com,24,0
23195,Kelly Clarkson Performs a Medley of Kendrick L...,https://www.billboard.com/articles/news/bbma/8...,www.billboard.com,85,1

In [58]:
df = pd.concat([df, pd.DataFrame(data={
    'text': data['title'],
    'label': ['real' if x == 1 else 'fake' for x in data['real']]
})], ignore_index=True, axis=0)
df['label'].value_counts()

label
fake    29236
real    17441
Name: count, dtype: int64

In [60]:
data = pd.read_csv(f"./data_news/{file_names[2]}")
data

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
...,...,...,...,...
6330,4490,State Department says it can't find emails fro...,The State Department told the Republican Natio...,REAL
6331,8062,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,FAKE
6332,8622,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,FAKE
6333,4021,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",REAL
6334,4330,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,REAL

In [62]:
df = pd.concat([df, pd.DataFrame(data={'text': data['text'],
                                       'label': [label.lower() for label in data['label']]})], ignore_index=True)
df['label'].value_counts()

label
fake    32400
real    20612
Name: count, dtype: int64

In [65]:
data = pd.read_csv(f"./data_news/{file_names[3]}")
print(file_names[3])
data

fake.csv

                                                   tweet
0      the tongue of his condition, now i saw things ...
1      by god the great, after i saw the derby of wyd...
2      believe in god, this zamalek fans are as good ...
3      the coach appeared in the media and told the t...
4      asno smito\nwhoever knows her tells me a massa...
...                                                  ...
19994                             by hitting the referee
19995  and instead of assassinating him.. they assass...
19996  honestly, the goalkeeper deal is not the best\...
19997                        haha goal and no bangura (:
19998  i swear by god almighty\nmessi will not come t...

[19999 rows x 1 columns]

In [66]:
df = pd.concat([df, pd.DataFrame(data={'text': data['tweet'],
                                       'label': ['fake'] * len(data)})], ignore_index=True)
df['label'].value_counts()

label
fake    52399
real    20612
Name: count, dtype: int64

In [67]:
data = pd.read_csv(f"./data_news/{file_names[4]}")
data

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
...,...,...,...,...
6330,4490,State Department says it can't find emails fro...,The State Department told the Republican Natio...,REAL
6331,8062,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,FAKE
6332,8622,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,FAKE
6333,4021,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",REAL
6334,4330,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,REAL

In [68]:
df = pd.concat([df, pd.DataFrame(data={'text': data['text'],
                                       'label': [label.lower() for label in data['label']]})], ignore_index=True)
df['label'].value_counts()

label
fake    55563
real    23783
Name: count, dtype: int64

In [70]:
data = pd.read_csv(f"./data_news/{file_names[5]}")
print(file_names[5])
data

real.csv

                                                   tweet
0      sun downs technical director: al-ahly respecte...
1      shawky gharib after the tie with enppi: our go...
2      egyptian sports news today, wednesday 1/25/202...
3      the main referees committee of the egyptian fo...
4      haji bari, the striker of the future team, is ...
...                                                  ...
21864  shawky gharib: we excluded 4 players from the ...
21865  dina musharraf resumes her career in the singa...
21866  indeed, al-ahly ended its agreement with ricar...
21867  hazem imam, the captain of zamalek, decided to...
21868  walid al-attar, executive director of the egyp...

[21869 rows x 1 columns]

In [71]:
df = pd.concat([df, pd.DataFrame(data={'text': data['tweet'],
                                       'label': ['real'] * len(data)})], ignore_index=True)
df['label'].value_counts()

label
fake    55563
real    45652
Name: count, dtype: int64

In [73]:
data = pd.read_csv(f"./data_news/{file_names[6]}")
data['language'].value_counts()

language
english    2017
german       72
ignore        3
french        2
spanish       1
Name: count, dtype: int64

In [75]:
data['label'].value_counts()

label
Fake    1220
Real     797
Name: count, dtype: int64

In [74]:
data = data[data['language'] == 'english']
data

,author,published,title,text,language,site_url,main_img_url,type,label,title_without_stopwords,text_without_stopwords,hasImage
0,Barracuda Brigade,2016-10-26T21:41:00.000+03:00,muslims busted they stole millions in govt ben...,print they should pay all the back all the mon...,english,100percentfedup.com,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,bias,Real,muslims busted stole millions govt benefits,print pay back money plus interest entire fami...,1.0
1,reasoning with facts,2016-10-29T08:47:11.259+03:00,re why did attorney general loretta lynch plea...,why did attorney general loretta lynch plead t...,english,100percentfedup.com,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,bias,Real,attorney general loretta lynch plead fifth,attorney general loretta lynch plead fifth bar...,1.0
2,Barracuda Brigade,2016-10-31T01:41:49.479+02:00,breaking weiner cooperating with fbi on hillar...,red state \nfox news sunday reported this mor...,english,100percentfedup.com,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,bias,Real,breaking weiner cooperating fbi hillary email ...,red state fox news sunday reported morning ant...,1.0
3,Fed Up,2016-11-01T05:22:00.000+02:00,pin drop speech by father of daughter kidnappe...,email kayla mueller was a prisoner and torture...,english,100percentfedup.com,http://100percentfedup.com/wp-content/uploads/...,bias,Real,pin drop speech father daughter kidnapped kill...,email kayla mueller prisoner tortured isis cha...,1.0
4,Fed Up,2016-11-01T21:56:00.000+02:00,fantastic trumps point plan to reform healthc...,email healthcare reform to make america great ...,english,100percentfedup.com,http://100percentfedup.com/wp-content/uploads/...,bias,Real,fantastic trumps point plan reform healthcare ...,email healthcare reform make america great sin...,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2090,-NO AUTHOR-,2016-10-27T15:36:09.934+03:00,prof canoes reek of genocide white privilege,NaN,english,wnd.com,http://www.wnd.com/files/2016/10/satan2_missil...,bias,Real,check hillarythemed haunted house,NaN,1.0
2091,-NO AUTHOR-,2016-10-27T15:36:10.573+03:00,teens walk free after gangrape conviction,NaN,english,wnd.com,http://www.wnd.com/files/2016/10/hillary_haunt...,bias,Real,good samaritan wearing indian headdress disarm...,NaN,1.0
2092,-NO AUTHOR-,2016-10-27T15:36:10.671+03:00,school named for munichmassacre mastermind,NaN,english,wnd.com,http://www.wnd.com/files/2016/10/rambo_richard...,bias,Real,skype sex scam fortune built shame,NaN,1.0
2093,-NO AUTHOR-,2016-10-27T13:30:00.000+03:00,russia unveils satan missile,NaN,english,wnd.com,http://www.wnd.com/files/2016/10/skype_sex_sca...,bs,Fake,cannabis aficionados develop thca crystalline ...,NaN,1.0
2094,-NO AUTHOR-,2016-10-27T15:58:41.935+03:00,check out hillarythemed haunted house,NaN,english,wnd.com,http://worldtruth.tv/wp-content/uploads/2016/1...,bs,Fake,title,NaN,0.0

In [76]:
df = pd.concat([df, pd.DataFrame(data={'text': data['text'],
                                       'label': [x.lower() for x in data['label']]})], ignore_index=True)
df['label'].value_counts()

label
fake    56783
real    46449
Name: count, dtype: int64

In [78]:
data = pd.read_csv(f"./data_news/{file_names[7]}")
print(file_names[7])
data

true.csv

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [79]:
df = pd.concat([df, pd.DataFrame(data={'text': data['title'],
                                       'label': ['real'] * len(data)})], ignore_index=True)
df = pd.concat([df, pd.DataFrame(data={'text': data['text'],
                                       'label': ['real'] * len(data)})], ignore_index=True)
df['label'].value_counts()

label
real    89283
fake    56783
Name: count, dtype: int64

In [80]:
data = pd.read_csv(f"./data_news/{file_names[8]}")
print(file_names[8])
data

WELFake_Dataset.csv

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1
...,...,...,...,...
72129,72129,Russians steal research on Trump in hack of U....,WASHINGTON (Reuters) - Hackers believed to be ...,0
72130,72130,WATCH: Giuliani Demands That Democrats Apolog...,"You know, because in fantasyland Republicans n...",1
72131,72131,Migrants Refuse To Leave Train At Refugee Camp...,Migrants Refuse To Leave Train At Refugee Camp...,0
72132,72132,Trump tussle gives unpopular Mexican leader mu...,MEXICO CITY (Reuters) - Donald Trump’s combati...,0
72133,72133,Goldman Sachs Endorses Hillary Clinton For Pre...,Goldman Sachs Endorses Hillary Clinton For Pre...,1

In [81]:
df = pd.concat([df, pd.DataFrame(data={'text': data['text'],
                                       'label': ['real' if x == 1 else 'fake' for x in data['label']]})], ignore_index=True)
df['label'].value_counts()

label
real    126389
fake     91811
Name: count, dtype: int64

In [83]:
df

                                                     text label
0       Donald Trump just couldn t wish all Americans ...  fake
1       House Intelligence Committee Chairman Devin Nu...  fake
2       On Friday, it was revealed that former Milwauk...  fake
3       On Christmas day, Donald Trump announced that ...  fake
4       Pope Francis used his annual Christmas Day mes...  fake
...                                                   ...   ...
218195  WASHINGTON (Reuters) - Hackers believed to be ...  fake
218196  You know, because in fantasyland Republicans n...  real
218197  Migrants Refuse To Leave Train At Refugee Camp...  fake
218198  MEXICO CITY (Reuters) - Donald Trump’s combati...  fake
218199  Goldman Sachs Endorses Hillary Clinton For Pre...  real

[218200 rows x 2 columns]

In [85]:
df = df.drop_duplicates(subset=['text'])

In [86]:
df['label'].value_counts()

label
real    91020
fake    56935
Name: count, dtype: int64

In [87]:
file_names = os.listdir('data_newsv2/')
file_names

['Fake.csv', 'data.csv', 'news.csv', 'True.csv']

In [89]:
data = pd.read_csv(f"./data_newsv2/{file_names[0]}")
print(file_names[0])
data

Fake.csv

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [90]:
df = pd.concat([df, pd.DataFrame(data={'text': data['text'],
                                       'label': ['fake'] * len(data)})], ignore_index=True)
df['label'].value_counts()

label
real    91020
fake    80416
Name: count, dtype: int64

In [91]:
data = pd.read_csv(f"./data_newsv2/{file_names[1]}")
print(file_names[1])
data

data.csv

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1
...,...,...,...,...
4004,http://beforeitsnews.com/sports/2017/09/trends...,Trends to Watch,Trends to Watch\n% of readers think this story...,0
4005,http://beforeitsnews.com/u-s-politics/2017/10/...,Trump Jr. Is Soon To Give A 30-Minute Speech F...,Trump Jr. Is Soon To Give A 30-Minute Speech F...,0
4006,https://www.activistpost.com/2017/09/ron-paul-...,"Ron Paul on Trump, Anarchism & the AltRight",NaN,0
4007,https://www.reuters.com/article/us-china-pharm...,China to accept overseas trial data in bid to ...,SHANGHAI (Reuters) - China said it plans to ac...,1
4008,http://beforeitsnews.com/u-s-politics/2017/10/...,Vice President Mike Pence Leaves NFL Game Beca...,Vice President Mike Pence Leaves NFL Game Beca...,0

In [92]:
df = pd.concat([df, pd.DataFrame(data={'text': data['Headline'],
                                       'label': ['real' if x == 1 else 'fake' for x in data['Label']]})], ignore_index=True)
df = pd.concat([df, pd.DataFrame(data={'text': data['Body'],
                                       'label': ['real' if x == 1 else 'fake' for x in data['Label']]})],
               ignore_index=True)
df['label'].value_counts()

label
real    94764
fake    84690
Name: count, dtype: int64

In [93]:
data = pd.read_csv(f"./data_newsv2/{file_names[2]}")
print(file_names[2])
data

news.csv

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
...,...,...,...,...
6330,4490,State Department says it can't find emails fro...,The State Department told the Republican Natio...,REAL
6331,8062,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,FAKE
6332,8622,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,FAKE
6333,4021,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",REAL
6334,4330,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,REAL

In [95]:
df = pd.concat([df, pd.DataFrame(data={'text': data['text'],
                                       'label': [x.lower() for x in data['label']]})], ignore_index=True)
df['label'].value_counts()

label
real    97935
fake    87854
Name: count, dtype: int64

In [97]:
data = pd.read_csv(f"./data_newsv2/{file_names[3]}")
print(file_names[3])
data

True.csv

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [98]:
df = pd.concat([df, pd.DataFrame(data={'text': data['text'],
                                       'label': ['real'] * len(data)})], ignore_index=True)
df['label'].value_counts()

label
real    119352
fake     87854
Name: count, dtype: int64

In [100]:
df = df.drop_duplicates(subset=['text'])
df['label'].value_counts()

label
real    94094
fake    59353
Name: count, dtype: int64

In [101]:
df.to_csv("./data/collection_of_news.csv", index=False)